*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.productList {
  --Kanban-background: #F9FAFB;
  --Kanban-gap: unset;
  --Kanban-padding: 0;
}

@media (prefers-color-scheme: dark) {
  .productList {
    --Kanban-background: #000000;
  }
}

.grid {
  display: grid;
  
  grid-template-columns: auto auto auto;
  /*grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));*/
  column-gap: 20px;
}




.productList {
  
  
  
  --KanbanGroup-background: var(--Kanban-background);
  --KanbanGroup-padding-h: 16px;
  --KanbanGroup-padding-bottom: 16px;
  --KanbanRecord-width: 320px;
  --KanbanRecord-margin-v: 8px;
  --KanbanRecord-margin-h: 8px;
  --KanbanRecord-padding-v: 8px;
  --KanbanRecord-padding-h: 8px;
  --KanbanRecord-gap-v: 5px;
  --KanbanRecord--small-width: 300px;
  --KanbanRecord__image-width: 64px;
  --KanbanRecord__image--fill-width: 95px;
  --KanbanRecord__dropdown-gap: 1px;
  --KanbanColumn__highlight-background: #e6f2f3;
  --KanbanColumn__highlight-border: #017e84;
  --o-view-nocontent-zindex: 1;
  --Card-Footer-gap: 4px;
  --Ribbon-font-size: 0.8125rem;
  --Ribbon-gap-top: calc(var(--KanbanRecord-padding-v) * -1 - 1px);
  --Ribbon-gap-right: 0;
  --Ribbon-wrapper-width: 6.5rem;
  --Ribbon-height: calc(var(--Ribbon-font-size) * 2);
  border-top: 1px solid var(--Kanban-background);
  background: var(--Kanban-background);
  padding: var(--Kanban-padding);
  gap: var(--Kanban-gap);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grid {
    display: block;
    border:none;
    gap: 0;
  grid-template-columns:auto;
  grid-template-rows:auto;
  }

  .product {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .product{
    border: 1px solid black;
    margin: 10px;
    width: auto;
    padding: 5px;
   
  }
}


.lastupdated {
  font-size: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .productList {

  }


  .product {
    border-bottom-color: white;
  }
}